.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 36px;

  .title__container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .title {
      font-family: 'Cairo', sans-serif;
      font-weight: 900;
      font-size: 42px;
      .semicolon {
        color: rgb(249, 194, 80);
      }
    }

    .logo {
      margin-right: 16px;
      width: 85px;
    }
  }

  .navbar {
    display: flex;
    margin-right: 220px;

    &__link {
      cursor: pointer;
      border: none;
      background: none;
      text-decoration: none;

      span {
        padding-bottom: 10px;
        letter-spacing: 2px;
        font-size: 18px;
        font-family: 'Inconsolata', monospace;
        font-weight: 600;
      }

      .hover-underline-animation {
        position: relative;
        color: black;
      }

      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1.5px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover .hover-underline-animation:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .login {
    display: flex;
    align-items: center;
    cursor: default;

    &__button {
      box-shadow: 3px 3px 15px rgb(249, 194, 80);
    }

    .wallet {

      &__address {
        position: relative;
        display: inline-block;
      }

      &__address .tooltiptext {
        visibility: hidden;
        width: 1100px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        cursor: text;
  
        /* Position the tooltip */
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 1;
      }
  
      &__address:hover .tooltiptext {
        visibility: visible;
      }

      &__balance {
        margin-left: 26px;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Cairo', sans-serif;
      }
    }




  }
}
