<div class="header">
  <section class="title__container" (click)="navigateToBlockchain()">
    <picture>
      <img class="logo" src="assets/img/logo.png" alt="logo" />
    </picture>
    <span class="title">Dummy Coin<span class="dot">;</span></span>
  </section>

  <section class="navbar">
    <a class="navbar__link me-5" routerLink="/blockchain">
      <span class="hover-underline-animation">BLOCKCHAIN</span>
    </a>

    <a class="navbar__link" routerLink="/memorypool">
      <span class="hover-underline-animation">MEMORY POOL</span>
    </a>
  </section>

  <section class="login">login section</section>
</div>
