<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Access</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form name="loginForm">
          <div class="mb-3">
            <label for="address" class="col-form-label">Address:</label>
            <input
              id="address"
              class="form-control"
              type="text"
              minlength="130"
              maxlength="130"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning"
          data-bs-dismiss="modal"
          (click)="login()"
        >
          Log in
        </button>
      </div>
    </div>
  </div>
</div>