<div class="block__container">
  <div class="title">
    <span>Block&nbsp;</span>
    <span *ngIf="id > 0; else genesis">{{ id }}</span>
    <ng-template #genesis>Genesis</ng-template>
  </div>

  <div class="block__content">
    <div>
      Hash: <code class="hash">{{ data?.hash }}</code>
    </div>
    <div>
      🕖 Creation date: {{ data?.date | date: 'H:mm' }} -
      {{ data?.date | date: 'dd/MM/yyyy' }}
    </div>
    <div>
      Difficulty: {{ data?.difficulty }}&nbsp;&nbsp;~&nbsp;&nbsp; Nonce:
      {{ data?.nonce }}
    </div>
    <div>
      Previous Hash:
      <code class="hash">{{
        data?.previousHash ? data.previousHash : 'undefined'
      }}</code>
    </div>
  </div>

  <div *ngIf="id > 0" class="view">
    <a class="btn btn-outline-warning" [routerLink]="['/block', data.hash]">
      <span class="hover-underline-animation">View block transactions</span>
    </a>
  </div>
</div>
