<div class="block">
  <div class="card mb-3">
    <div class="card-header">{{ data?.hash }}</div>
    <div class="card-body">
      <p class="card-text">Creation date: {{ data?.date | date: 'dd/MM/yyyy'}}</p>
      <p class="card-text">Difficulty: {{ data?.difficulty }}&nbsp;&nbsp;&nbsp;Nonce: {{ data?.nonce }}</p>
      <p class="card-text"></p>
      <p class="card-text">Previous Hash: {{ data?.previousHash ? data.previousHash : 'undefined' }}</p>
      <p class="card-text">{{ data?.data }}</p>
    </div>
  </div>
</div>
