table {
  table-layout: fixed;
  word-wrap: break-word;
  text-align: center;
  font-family: Inconsolata, monospace, sans-serif;
}

.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;

  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
  }
}