.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;

  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  .create-tx {
    width: fit-content;
    align-self: center;
    font-size: 26px;
    font-weight: 700;
    padding: 16px;
    margin-bottom: 48px;
    font-family: 'Cairo'
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
    text-align: center;
    font-family: Inconsolata, monospace, sans-serif;
  }
}



