@import '~ngx-toastr/toastr';

html body {
  margin: 0;
  height: 100%;
  font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
  background-color: rgba(254, 255, 213, 0.4);
}

.toast-top-right {
  margin-top: 125px;
  @media only screen and (max-width: 768px) {
    margin-top: 0;
  }
}